<a href="https://colab.research.google.com/github/anesairah/haikus-for-codespaces/blob/main/Assignment2_A%C3%B1es.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### AÃ±es, Airah Marie
Assignment 2

## Welcome to Python Fundamentals


Python fundamentals is a set of courses that cover the essential Python skills needed to get started in the field of data science.

### Variable and Data Types
It represents the kind of value that specifies which operations may be done on a given piece of data since data types are really classes in Python, and variables are instances (objects) of these classes. Python's standard or built-in data type is numeric.

In [ ]:
x = 1
a, b = 3, -2

In [ ]:
y = 3.0
type(y)

float

In [ ]:
x = float(x)
type(x)

float

In [ ]:
s, t, u = "1", '3', 'three'
type(u)

str

## Operations
In Python, operators are special symbols that perform arithmetic or logical computations.

### Arithmetic
It combines the values on either side of the operator.

In [ ]:
w, x, y, z = 4.0, -3.0, 2, -32

In [ ]:
### Addition
S = w + x
S

1.0

In [ ]:
### Subtraction
D = y - z
D

34

In [ ]:
### Multiplication
P = w*z
P

-128.0

In [ ]:
### Division
Q = y/x
Q

-0.6666666666666666

In [ ]:
### Floor Division
Qf = w//z
Qf

-1.0

In [ ]:
### Exponentiation
E = w**w
E

256.0

In [ ]:
### Modulo
mod = z%x
mod

-2.0

### Assignment

In [ ]:
A, B, C, D, E = 0, 100, 2, 1, 2

In [ ]:
A += w
A

8.0

In [ ]:
B -= x
B

99.0

In [ ]:
C *= w
C

8.0

In [ ]:
D /= x
D

1.0

In [ ]:
E **= y
E

8.0

### Comparators
It is usual to compare two values. It typically returns boolean values of True or False.

In [ ]:
size_1, size_2, size_3 = 1, 2.0, "1"
true_size = 1.0

In [ ]:
## Equality
size_1 == true_size

True

In [ ]:
## non-Equality
size_2 != true_size

True

In [ ]:
## Inequality
s1 = size_1 > size_2
s2 = size_1 < size_2/2
s3 = true_size >= size_1
s4 = size_2 <= true_size


### Logical
used to mix variables' (or phrases') true or false values in order to determine their ultimate truth value.

In [ ]:
size_1 == true_size

In [ ]:
size_1 is true_size

False

In [ ]:
size_1 is not true_size

True

In [ ]:
P, Q = True, False
conj = P and Q
conj

False

In [ ]:
disj = P or Q
disj

True

In [ ]:
nand = not(P and Q)
nand

True

In [ ]:
xor = (not P and Q)or (P and not Q)
xor

True

### Input and Output
An input/output statement, often known as an IO statement, is a section of a program that directs a computer on how to read and process data.

In [ ]:
cnt = 14000

In [ ]:
print("Hello World!")

Hello World!

In [ ]:
print("{string}, current count is: {cnt}")
string = "Hello World!"
print(string, ", Current COVID count is:", cnt)
cnt += 10000

{string}, current count is: {cnt}
Hello World! , Current COVID count is: 14000

In [ ]:
sem_grade = 86.25
name = "Airah"
print("Hello {}, your semestral grade is: {}".format(name, sem_grade))

Hello Airah, your semestral grade is: 86.25

In [ ]:

pg, mg, fg = 98, 85, 65
print("The Weights of your semestral grade are:\
\n\t {:} for prelims\
\n\t {:} for Midterms, and\
\n\t {:} for Finals.".format(pg, mg, fg))

The Weights of your semestral grade are:
	 98 for prelims
	 85 for Midterms, and
	 65 for Finals.

In [ ]:
e = input("Enter a number: ")

Enter a number: 25

In [ ]:
name = input("Enter your name: ")
pg = input("Enter prelim grade: ")
mg = input("Enter midterm grade: ")
fg = input("Enter final grade: ")

Enter your name: a
Enter prelim grade: 90
Enter midterm grade: 80
Enter final grade: 70

## While 
used to run a set of statements continuously until a condition is fulfilled.

In [ ]:
## while loops
i, j = 0 , 10
while(i<=j):
    print(f"{i}\t|\t{j}")
    i += 1

0	|	10
1	|	10
2	|	10
3	|	10
4	|	10
5	|	10
6	|	10
7	|	10
8	|	10
9	|	10
10	|	10

## For
When you have a piece of code that you wish to repeat a set number of times, you use a loop. The for statement in Python repeats through the elements of a sequence in order, executing the block each time.

In [ ]:
# for(int = 0; i<10; i++){
# print(i)
#}

i = 0
for i in range(11):
  print(i)

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
playlist = ["awit", "sayo", "lods"]
print('Now playing:\n')
for song in playlist:
  print(song)

Now playing:

awit
sayo
lods

## Flow Control

### Condition Statement
Based on whether a certain Boolean condition evaluates to true or false, execute various calculations or actions In Python, conditional statements are handled using IF statements.

In [ ]:
num_1, num_2 = 14, 12
if(num_1 == num_2):
  print("haha")
elif (num_1>num_2):
    print("huhu")
else:
      print("hoho")

huhu

### Functions
A function is a reusable unit of code that is used to accomplish a single, related operation as functions improve the modularity of your program and allow for more code reuse.

In [ ]:
# void DeleterUser (int unserid){
    # delete(userid);
#}

def delete_user (userid):
  print("Successfully deleted user: {}" .format(userid))

In [ ]:
userid = 2020_100100
delete_user(2020_100100)

Successfully deleted user: 2020100100

In [ ]:
added1, added2 = 5, 6

In [ ]:
def add(added1, added2):
  sum = added1 + added2
  return sum

In [ ]:
add(5,4)

9